{% extends 'base.html' %}
{% load static %}


{% block content %}
<header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static '/images/logo.png' %}" class="d-inline-block align-top" height=30 width=30>
                    Tution Media</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link active-page" href="{% url 'create' %}">Create</a>
                        <a class="nav-item nav-link" href="{{user.id}}">Profile</a>
                        <a class="nav-item nav-link"
                            href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form method="POST" action="{% url 'logout' %}" id="logout">
                            {% csrf_token %}
                            <input type="hidden" />
                        </form>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
                        <a class="nav-item nav-link active" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    
    </header>
<h1>Log In!</h1>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<form method = "Post" action = "{%url 'login'%}">
        {% csrf_token %}
        Username:
        <br/>
        <input type = "text" name = "username"/>
        <br/>
        Password:
        <br/>
        <input type = "password" name = "password"/>
        <br/>
        <br />
        <input class = "btn btn-primary" type = "submit" value = "Log In!"/>
</form>

{% endblock %}
