{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static '/images/logo.png' %}" class="d-inline-block align-top" height=30 width=30>
      Tution Media</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'create' %}">Create</a>
        <a class="nav-item nav-link" href="{{user.id}}">Profile</a>
        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
        <form method="POST" action="{% url 'logout' %}" id="logout">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


{% if user.is_authenticated %}
<h2>Your Home Page is in Construction... </h2>
{% else %}
<div class="container pt-5 pl-5">
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <!-- Header section start -->
  <header class="header-section">
    <div class="row justify-content-md-center form-group">
      <div class="col-4"></div>
      <div class="col-8"><label>
          <h2>Search Tutor</h2>
        </label> </div>
    </div>
  </header>
    <div class="container-fluid">
      <form method="POST" action="{%url 'search' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row justify-content-md-center form-group">
          <div class="col-md-4">
            <select class="custom-select" style="width:350px;" name="class">
              <option value="EMNI" selected="selected">Class Catagory</option>
              <option value="PR">Primary (1-5)</option>
              <option value="JU">Junior (6-8)</option>
              <option value="SSC">Scondary (9-10)</option>
              <option value="HSC">Higher Secondary (11-12)</option>
            </select>
          </div>
          <div class="col-2"></div>
          <div class="col-md-4">
            <input type="text" placeholder="Tutor's Name" class="form-control" name="name" style="width:350px;" />
          </div>
        </div>

        <div class="row justify-content-md-center form-group">
          <div class="col-md-4">
            <select style="width:350px;" name="tutiontype" class="custom-select">
              <option value ="EMNI" selected="selected">Tution Type</option>
              <option value="PR">Private</option>
              <option value="BC">Batch</option>
              <option value="PB">Both (Private and Batch)</option>
            </select>
          </div>
          <div class="col-2"></div>
          <div class="col-md-4">
            <select style="width:150px;" name="medium" id="mediummultiselect" multiple="multiple">
              <option selected="selected" disabled="disabled">Medium</option>
              <option value="BM">Bangla Medium</option>
              <option value="EM">English Medium</option>
              <option value="EV">English Version(National Curriculam)</option>
            </select>
          </div>
        </div>

        <div class="row justify-content-md-center form-group">
          <div class="col-md-4">
            <select class="custom-select" style="width:350px;" name="gender">
              <option value ="EMNI" selected="selected">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="col-2"></div>
          <div class="col-md-4">
            <select class="select" style="width:550px;" name="subject" id="subjectmultiselect" multiple="multiple">
              <option selected="selected" disabled="disabled">Subjects</option>
              {% for sub_id, sub in subjects.items %}
              <option value="{{sub_id}}">{{sub}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row justify-content-md-center form-group">
          <div class="col-md-4">
            <input type="text" placeholder="Institution" class="form-control" name="institution" style="width:350px;" />
          </div>
          <div class="col-2"></div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search...</button>
          </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}